.contenedor{
    @include grid(3,1);
    margin-bottom: 15rem;
}

.imagen-fruta{
    width: 30rem;
    height: 46rem;
    margin: 0;
}

.nombre-fruta{
    text-transform: uppercase;
    text-align: center;
    margin: 0;
}

.fruta {
    text-align: center;
    border-bottom: 1px solid $secundario;
    
  }