.header{
  background-color: $secundario;
}

.header.principal {

  height: 35rem;
  background-image: url(../../../build/img/fondo2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;


}

@include tablet {
  .header.principal {
    height: 50rem;
  }
}

.header__navegacion {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .header__link {
    color: $blanco;
    font-size: 1.8rem;
    margin-right: 4rem;

    .logo {
      max-width: 12rem;
    }

    
  }

 


  @include tablet {
    .header__link {

      font-size: 2.5rem;
      margin-right: 5rem;

      .logo {
        max-width: 20rem;
      }


    }
  }

  .header__link:hover {
    color: $acento;
  }
}

.header__titulo-nombre {
  color: $blanco;
  text-transform: uppercase;
  font-size: 3rem;
  animation: fadeIn 1s ease-in-out;
}

@include tablet {
  .header__titulo-nombre {
    font-size: 5rem;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


.header__titulo-slogan {
  color: $blanco;
  text-align: center;
  text-transform: uppercase;
  animation: fadeIn 1s ease-in-out;
  font-size: 1.3rem;
}

@include tablet {
  .header__titulo-slogan {
    font-size: 2remrem;
  }
}